/***** flex *****/
@mixin align-center {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.ui-flex {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    color: inherit;
}

.ui-flex-center {
    @extend .ui-flex;
    @include align-center;
    -webkit-justify-content: center;
    justify-content: center;
}
.ui-flex-between {
    @extend .ui-flex;
    @include align-center;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}
.ui-flex-around {
    @extend .ui-flex;
    @include align-center;
    -webkit-justify-content: space-around;
    justify-content: space-around;
}
.ui-flex-wrap {
    @extend .ui-flex;
    @include align-center;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}
.ui-flex-1 {
    -webkit-flex: 1;
    flex: 1;
}
.ui-flex-column {
    @extend .ui-flex;
    -webkit-flex-direction: column;
    flex-direction: column;
}
/*子元素*/
.ui-flex-lt {
    align-self: flex-start;
    -webkit-align-self: flex-start;
    -ms-align-self: flex-start;
}
